<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <!-- View -->
    <main id="app">
        <div>
            <input ref="title" type="text" placeholder="Title" spellcheck="false" v-model="title" />
            <textarea ref="text" type="text" name="text" placeholder="Enter note..." spellcheck="false" rows="6"
                v-model="text"></textarea>
            <div>
                <button @click="add">Add</button>
            </div>
        </div>
        <ul ref="list">
            <li v-for="(note, i) in notes" v-bind:key="i" @click="handleClickLIItem(i)" :id="note.id">
                <div>{{ note.title }}</div>
                <div>{{ note.text }}</div>
                <div>
                    <button>Delete</button>
                </div>
            </li>
        </ul>
    </main>
    <script src="/index.js"></script>
</body>

</html>