<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <main id="app">
        <div>
            <input ref="input" type="text" v-model="text" @keydown.enter="add" autofocus placeholder="Enter note..."  />
            <button @click="add">Add</button>
        </div>
        <ul>
            <li v-for="(note, i) in notes" v-bind:key="i">{{ note }}</li>
        </ul>
    </main>
    <script src="/index.js"></script>
</body>

</html>