body,
main {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: #fafad2;
}


.app {}

.input {}

.input__title {
    appearance: unset;
    background: unset;
    border: unset;
    outline: unset;
}

.input__text {
    appearance: unset;
    background: unset;
    border: unset;
    outline: unset;
}

.input__controls {}

.input__controls__add {
    appearance: unset;
    background: unset;
    border: unset;
}

.notes {
    padding-left: unset;
    list-style-type: none;
}

.note {}

.note__title {}

.note__text {}

.note__controls {}

.note__controls__delete {
    appearance: unset;
    background: unset;
    border: unset;
}

.service-worker {}

.service-worker__text {}

.service-worker__control {}