body,
main {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: #fafad2;
}


.app {}

.input {
    background: #fff740;
    border-radius: 0.35rem;
    box-shadow: 1px 1px 4px 1px #bfb700;
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
}

.input__title {
    appearance: unset;
    background: unset;
    border: unset;
    outline: unset;
    display: block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input__text {
    appearance: unset;
    background: unset;
    border: unset;
    outline: unset;
    display: block;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.input__controls {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.input__controls__add {
    appearance: unset;
    background: unset;
    border: unset;
    cursor: pointer;
}

.notes {
    padding-left: unset;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    margin: 2rem;
}

.note {
    flex: 0 1 calc(33.3% - 4rem); /* Remove margin of list (left, right) */
    height: fit-content;
    background: #8340ff;
    border-radius: 0.35rem;
    box-shadow: 1px 1px 4px 1px #3900bf;
    margin: 1rem;
    padding: 1rem;
}

.note__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.note__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.note__controls {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.note__controls__delete {
    appearance: unset;
    background: unset;
    border: unset;
    cursor: pointer;
}

.service-worker {}

.service-worker__text {}

.service-worker__control {}

@media screen and (max-width: 1280px) {
    .note {
        flex: 0 1 calc(50% - 4rem);
    }
}

@media screen and (max-width: 760px) {
    .input {
        max-width: unset;
        margin: 2rem 3rem 3rem;
    }

    .note {
        flex: 0 1 calc(100% - 4rem);
    }
}

.v-enter-active {
    animation-name: slide;
    animation-duration: 200ms;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-direction: normal;
}

@keyframes slide {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}